<html><head>
    <!-- Include Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script><style id="plotly.js-style-global"></style>
</head>
<body>
<div id="myDiv">
    <!-- Plotly chart will be drawn inside this DIV -->
</div>
<script type="text/javascript">

    mydata = {{analysis}};

    var revisions = [];
    var complexity = [];
    var activeDays = [];
    var filepaths = [];
    var authors = [];

    mydata.files.forEach(function (file) {
        revisions.push(file.revisions);
        complexity.push(file.complexity);
        filepaths.push(file.filepath);
        activeDays.push(file.active_days);
        authors.push(file.number_authors);
    });

    var trace = {
        x: activeDays,
        y: complexity,
        text: filepaths,
        mode: 'markers',
        type: 'scatter'
    };

    var layout = {
        height: 650,
        hovermode:'closest',
        title:'Churn vs Complexity'
    };

    var data = [ trace ];
    Plotly.newPlot('myDiv', data, layout);
</script>
</body></html>