<html><head>
    <!-- Include Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script><style id="plotly.js-style-global"></style>
</head>
<body>
<div id="myDiv">
    <!-- Plotly chart will be drawn inside this DIV -->
</div>
<script type="text/javascript">

    var trace = {
        x: {{axeX}},
        y: {{axeY}},
        text: {{labels}},
        mode: 'markers',
        type: 'scatter'
    };

    var layout = {
        height: 650,
        hovermode:'closest',
        title:'{{title}}'
    };

    var data = [ trace ];
    Plotly.newPlot('myDiv', data, layout);
</script>
</body></html>